/* Banner Section */
.banner-section {
  height: 75vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.banner-section::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: repeating-linear-gradient(45deg,
      rgba(255, 255, 255, 0.015),
      rgba(255, 255, 255, 0.015) 1px,
      transparent 1px,
      transparent 3px);

  opacity: 0.15;
  pointer-events: none;
  z-index: 1;
}


.banner-section .carousel-container {
  height: 100%;
  width: 100%;
  position: relative;
}

.banner-section .carousel-items {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Cada slide */
.banner-section .carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.banner-section .carousel-item.active {
  pointer-events: auto;
}

/* Imagem principal do banner */
.banner-section .carousel-item>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Caption */
.banner-section .carousel-caption-left {
  position: absolute;
  left: 3%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.banner-section .carousel-caption-left .carousel-content img {
  display: block;
  max-width: 30vw;
  height: auto;
  object-fit: contain;
}

/* Setas */
.banner-section .carousel-control-prev,
.banner-section .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  width: 3rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.banner-section .carousel-control-prev-icon,
.banner-section .carousel-control-next-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.banner-section .carousel-control-prev {
  left: 1rem;
}

.banner-section .carousel-control-next {
  right: 1rem;
}

/* =================Game Section============ */
.game-section {
  padding: 5rem 2rem 5rem;
  align-items: center;
  justify-content: center;

}

.line-title {
  position: relative;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  color: #e0e0e0;
  font-weight: 100;
}

.line-description {

  position: relative;
  font-size: 0.9rem;
  text-align: center;
  color: #b0b0b0;
  margin-bottom: 3rem;
}

/* Carrossel de games */

.carousel-container {
  display: flex;
  justify-content: flex-start;
  gap: 1.25rem;
  overflow: hidden;
  scroll-behavior: smooth;
  padding-bottom: 0.5rem;
}

.carousel-items {
  display: flex;
  gap: 1.25rem;
  overflow-x: hidden;
  overflow-y: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.carousel-items::-webkit-scrollbar {
  display: none;
}

.item {
  width: 15rem;
  height: 20rem;
  flex-shrink: 0;
  display: flex;
  align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 2rem;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.item.active {
  width: 31rem;
  box-shadow: 0.75rem 2.5rem 2.5rem rgba(0, 0, 0, 0.25);
}

.item:after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.item-desc {
  padding: 0 1.5rem 0.75rem;
  z-index: 1;
  transform: translateY(calc(100% - 3.375rem));
  transition: all 0.4s ease-in-out;
}

.item.active .item-desc {
  transform: none;
}

.item-desc h3 {

  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.item-desc p {
  opacity: 0;
  transform: translateY(2rem);
  transition: all 0.4s ease-in-out 0.2s;

  font-size: 14px;
  font-weight: 400;
  color: #e0e0e0;
}

.item.active .item-desc p {
  opacity: 1;
  transform: translateY(0);
}

/* Responsividade */
@media(max-width: 62rem) {
  .item {
    width: 16.25rem;
    height: 22.5rem;
  }

  .item.active {
    width: 25rem;
  }
}

@media(max-width: 48rem) {
  .item {
    width: 12.5rem;
    height: 17.5rem;
  }

  .item.active {
    width: 16.875rem;
  }
}

/* ========================Cards Section======================== */

.cards-section {

  display: flex;
  flex-direction: column;

  width: 100%;
  padding: 5rem 0 5rem;
}

.cards-section-title {

  justify-content: center;
  align-items: center;
  padding: 3rem 0 3rem;

}

h2.title {

  position: relative;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
  color: #e0e0e0;
  font-weight: 100;
}

p.description {

  position: relative;
  margin-bottom: 3rem;
  font-size: 0.9rem;
  text-align: center;
  color: #b0b0b0;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 1rem;
  margin: 0 auto;
  width: 90%;
  justify-content: center;
  align-items: center;

}

.card {

  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: 1fr 1fr;
  transition: 0.3s ease-in-out cubic-bezier(0.2, 0.8, 0.2, 1);
  align-items: center;
  cursor: pointer;

}

.card::before {

  content: "";
  position: absolute;
  inset: 0;
  background: rgba(26, 26, 26, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1;
  opacity: 0.5;

}

.card img {
  position: absolute;
  top: 0;
  height: 110%;
  width: 100%;
  z-index: 0;

  transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.card:hover {
  transform: scale(1.035);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);

}

.card:hover img {
  transform: translateY(-10px);
}

.card h3 {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #e0e0e0;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  margin: 0;
  z-index: 2;

}

/* =================Social Section============ */

.socials {

  padding: 5rem 0 5rem;
  display: flex;
  justify-content: center;

}

.social-container {

  width: 100%;

  display: grid;
  justify-content: center;

}

.container-title h3 {

  position: relative;
  margin-bottom: 3rem;
  text-align: center;
  color: #e0e0e0;
  font-weight: 200;
  font-size: 2rem;
  padding-top: 5vh;
}

.social-icons {

  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  gap: clamp(1rem, 3vw, 2rem);

}

.social-icons svg {
  width: 9rem;
  height: 9rem;
  transition: 0.2s ease-in-out;
  fill: #e0e0e0;
  cursor: pointer;
}

.social-icons svg:hover {
  fill: #ffffff;
}