.login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(26, 26, 26, 0.9);
    backdrop-filter: blur(10px);
    opacity: 95%;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 20px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    font-weight: 200;
    pointer-events: none;
    transition: .5s ease;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #e0e0e0;
    font-weight: 300;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.signup {

    display: flex;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.btn-primary {

    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.9rem;
    color: #e0e0e0;
    border: 1px solid #333;
    border-radius: 20px;
    background: none;
    height: 40px;
    width: 80px;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover {

    color: #fff;
    border-color: #555;

}

a.signup-link {

    text-decoration: none;
    color: #e0e0e0;
    font-weight: 500;
}

a.signup-link:hover {

    color: #fff;
}