/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;

  font-family: 'Montserrat', sans-serif;

  background:
    linear-gradient(to bottom,
      #000000 0%,
      #0c0c0c 22%,
      #171717 45%,
      #212121 70%,
      #2b2b2b 100%),
    repeating-linear-gradient(45deg,
      rgba(255, 255, 255, 0.012),
      rgba(255, 255, 255, 0.012) 1px,
      transparent 1px,
      transparent 2px);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat;



  color: #ffffff;
  line-height: 1.6;
}

/* ================= SEARCH OVERLAY ================= */

/* Overlay de fundo */
body.search-active::before {
  content: "";
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(5px);

  z-index: 900;
}

body.search-active .search-input {
  opacity: 1;
  pointer-events: all;
}

body.search-active .icon-close {
  opacity: 1;
  transform: rotate(-90deg);
  cursor: pointer;
}

body.search-active .btn-material {
  transform: scale(70);
}

body.search-active .icon-material-search {
  opacity: 0;
}